
@{
    ViewBag.Title = "MainCategory";
    Layout = "~/_LayoutAdmin.cshtml";
}
<br />
<form action="SaveCategory" method="post" enctype="multipart/form-data">
    <div class="panel panel-default" style="margin-right:20px;margin-left:20px">
        <div class="panel-heading">Add Main Category</div>
        <div class="panel-body">
            <fieldset class="input">

                <p id="login-form-username">
                    <label for="modlgn_username">Category Name</label>
                    <input id="modlgn_username" type="text" placeholder="Select your Category" name="CategoryName" class="inputbox" size="18">
                </p>
                <p id="login-form-username">
                    <label for="modlgn_username">Category Image</label>
                    <input id="modlgn_username" type="file" name="postedFile" class="inputbox" size="18">

                </p>



                <div class="clear"> </div>
                <p id="login-form-username">
                    <input type="submit" style="float:left" name="Submit" class="button" value="Save"><div class="clear"></div>
                </p>

               

            </fieldset>
        </div>
    </div>
</form>

