<link href="~/css1/animate.css" rel="stylesheet" />
<link href="~/css1/bootstrap.css" rel="stylesheet" />
<link href="~/css1/flexslider.css" rel="stylesheet" />
<link href="~/css1/magnific-popup.css" rel="stylesheet" />
<link href="~/css1/owl.carousel.min.css" rel="stylesheet" />
<link href="~/css1/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/css1/style.css" rel="stylesheet" />
<link href="~/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
@{
    ViewBag.Title = "Schedule";
    Layout = "~/_LayoutUser.cshtml";

}

<div class="main">
    <div class="about_banner_img"><img src="~/images/blog_img1.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">Schedule</h1>
    </div>
</div>



<div id="colorlib-schedule" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
                <h2 style="color:rgb(169, 0, 241)">Our Class Schedule</h2>
                <p>Our Trainers will be  live at the specific time given in the schedule.</p>
            </div>
        </div>
        <div class="row">
            <div class="schedule text-center animate-box">
                <div class="col-md-12">
                    <ul class="week">
                        <li class="active"><a href="#">Sunday</a></li>
                        <li><a href="#">Monday</a></li>
                        <li><a href="#">Tuesday</a></li>
                        <li><a href="#">Wednesday</a></li>
                        <li><a href="#">Thursday</a></li>
                        <li><a href="#">Friday</a></li>
                        <li><a href="#">Saturday</a></li>
                    </ul>
                </div>
                <div class="schedule-flex">
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-gym"></i></span></p>
                        <p class="time"><span>06am - 8am</span></p>
                        <h3>Cardio Program</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/pranal.kumar">Chat</a></li>
                        <p class="trainer"><span>Pranal Kumar</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-exercise-2"></i></span></p>
                        <p class="time"><span>08am - 10am</span></p>
                        <h3>Loose Weight Program</h3>
                        <li><a href="https://www.youtube.com/watch?v=G45o6gjmOFE&index=2&list=PLssH9nyCpBTFgVq5QZcGgZk-YN7TbJn5h&t=0s">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/nilay.shah.589">Chat</a></li>
                        <p class="trainer"><span>Nilay Shah</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-meditation"></i></span></p>
                        <p class="time"><span>06am - 8am</span></p>
                        <h3>Yoga Classes</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/heenal.1997">Chat</a></li>
                        <p class="trainer"><span>Heenal Patel</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-gloves"></i></span></p>
                        <p class="time"><span>08am - 10am</span></p>
                        <h3>Boxing Program</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/vaibhav.singh.182">Chat</a></li>
                        <p class="trainer"><span>Vaibhav Singh</span></p>
                    </div>
                </div>
                <div class="schedule-flex">
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-martial-arts"></i></span></p>
                        <p class="time"><span>05pm - 7pm</span></p>
                        <h3>Karate Classes</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/prerak.patel.148">Chat</a></li>
                        <p class="trainer"><span>Prerak Patel</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-weightlifting"></i></span></p>
                        <p class="time"><span>06pm - 9pm</span></p>
                        <h3>Body Building</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/yogesh2006">Chat</a></li>
                        <p class="trainer"><span>Yogesh Purohit</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-swimmer"></i></span></p>
                        <p class="time"><span>04pm - 5pm</span></p>
                        <h3>Swimming Program</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/neeltalati50">Chat</a></li>
                        <p class="trainer"><span>Neel Talati</span></p>
                    </div>
                    <div class="entry-forth">
                        <p class="icon"><span><i class="flaticon-man"></i></span></p>
                        <p class="time"><span>06pm - 8pm</span></p>
                        <h3>Basic Exercise</h3>
                        <li><a href="https://www.youtube.com/watch?v=HajN35gcfE8&feature=youtu.be">Go Live</a></li>
                        <li><a href="https://www.facebook.com/messages/t/100004733923384">Chat</a></li>
                        <p class="trainer"><span>Dhruv Mehta</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial">
    <div class="container">
        <i class="quot"> </i>
        <p>“NOTHING COMES EASY, BUT AS LONG AS YOU'RE BREATHING, YOU'RE ALWAYS ONE BREATH AWAY FROM MAKING DREAMS REALITY.MAKE EVERY BREATH COUNT.My goal is to be a contributor and to encourage others as they realize their dreams.”</p>
        <p class="ceo">QUOTE BY - <span class="ceo1">KAI GREENE</span></p>
    </div>
</div>

