<!DOCTYPE html>

<html>
<head>
    <title>STAY FIT</title>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
     <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <div class="header-bottom">
        <div class="container">
            
            <a href="index" style="color:azure; text-align:center; font-size:35px">STAY FIT</a>

            <div class="social">
                <ul>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="pinterest"><a href="#"><span> </span></a></li>
                    <li class="google"><a href="#"><span> </span></a></li>
                    <li class="tumblr"><a href="#"><span> </span></a></li>
                    <li class="instagram"><a href="#"><span> </span></a></li>
                    <li class="rss"><a href="#"><span> </span></a></li>
                    <li><a href="Login" style="color:azure; font-size:18px">Logout</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- start menu -->
    <div class="menu">
        <div class="container">
            <div class="logo">
               
            </div>
            <div class="h_menu4">
                <!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="Home">Home</a></li>
                    <li><a href="UserProfile">Profile</a></li>
                    <li><a href="Exercise">Exercise</a></li>
                    <li><a href="Schedule">Schedule</a></li>
                    <li><a href="Trainers">Trainers</a></li>
                    <li><a href="DietPlan">Diet Plan</a></li>
                    <li><a href="Blog">Blog</a></li>
                    <li><a href="Pricing">Pricing</a></li>
                    <li><a href="Contact">Contact</a></li>
                    <li><a href="Team">Team</a></li>

                </ul>
                <script type="text/javascript" src="js/nav.js"></script>
            </div><!-- end h_menu4 -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- end menu -->
    <div class="main">
        @RenderBody()
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row section group">
                <div class="col-md-4">
                    <h4 class="m_7">Newsletter Signup</h4>
                    <p class="m_8">Subscribe our newsletter and get latest update.</p>
                    <form class="subscribe">
                        <input type="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
                    </form>
                    <div class="subscribe1">
                        <a href="#">Submit Email<i class="but_arrow"> </i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="f-logo">
                        <img src="images/logo.png" alt="" />
                    </div>
                    <p class="m_9">"Bodybuilding is much like any other sport. To be successful, you must dedicate yourself 100% to your training, diet and mental approach."</p>
                    <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(91) 9408388380</span></p>
                    <p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10"><a href="mailto:example@mail.com">dhruvmehta621@gmail.com</a></span></p>
                </div>
                <div class="col-md-4">
                    <ul class="list">
                        <h4 class="m_7">Menu</h4>
                        <li><a href="Schedule">Schedule</a></li>
                        <li><a href="Trainer">Trainers</a></li>
                        <li><a href="Exercise">Exercise</a></li>
                        <li><a href="Pricing">Pricing</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="Contact">Contact</a></li>
                    </ul>
                    <ul class="list1">
                        <h4 class="m_7">Community</h4>
                        <li><a href="Blog">Blog</a></li>
                        <li><a href="Team">Team</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="copy">
                <p>Copyright © 2019 STAY FIT. All Rights Reserved </p>
            </div>
            <div class="social">
                <ul>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                    <li class="twitter"><a href="#"><span> </span></a></li>
                    <li class="pinterest"><a href="#"><span> </span></a></li>
                    <li class="google"><a href="#"><span> </span></a></li>
                    <li class="tumblr"><a href="#"><span> </span></a></li>
                    <li class="instagram"><a href="#"><span> </span></a></li>
                    <li class="rss"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</body>
</html>
